<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		    <title>Expression Former</title>
		        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		    <h1>Expression Input</h1>
		        <form action="#" th:action="@{/expression}" th:object="${expression}" method="post">
					        <p>Expression: <input type="text" th:field="*{expressionString}" /></p>
						        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
							    </form>
	</body>
</html>
