<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		    <title>Expression Former</title>
		        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		    <h1>Expression Input</h1>
		        <form action="#" th:action="@{/proof}" th:object="${proof}" method="post">
					<p>Expression:
						<textarea name="Text1" th:field="*{proofString}" cols="40" rows="5"></textarea>
						</p>
						        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
							    </form>
	</body>


</html>
