<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>LogicAssistant</title>

    <!-- Bootstrap Core CSS -->
    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../static/css/shop-homepage.css" th:href="@{/css/shop-homepage.css}" rel="stylesheet"/>

    <!--Normalisation CSS -->
    <link href="../static/css/normalize.css" th:href="@{/css/normalize.css}" rel="stylesheet"/>


    <script src="../static/js/tether.min.js"></script>

    <!-- jQuery -->
    <script src="webjars/jquery/3.1.1-1/jquery.js"></script>
    <script src="webjars/jquery/3.1.1-1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-linedtextarea.js" th:src="@{/js/jquery-linedtextarea.js}"></script>
    <link href="../static/css/jquery-linedtextarea.css" th:href="@{/css/jquery-linedtextarea.css}" type="text/css" rel="stylesheet"/>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>


    <script type="text/javascript">
        $(function() {
            $(".lined").linedtextarea(
                {selectedLine: 1}
            );
        });
    </script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">



        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LogicAssistant</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/validity">Validity Checker</a>
                </li>
                <li>
                    <a href="/">User Guide</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <h1 class="jumbotron" align="center">LogicAssistant</h1>

    <div class="col-md-2">
        <p class="lead" align="center" data-toggle="tooltip" data-placement="top" title="Operator Key">Key</p>
        <table class="table"  >
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Meaning</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">^</th>
                <td>AND</td>
            </tr>
            <tr>
                <th scope="row">|</th>
                <td>OR</td>

            </tr>
            <tr>
                <th scope="row">-&gt;</th>
                <td>IMPLIES</td>
            </tr>
            <tr>
                <th scope="row">&lt;-&gt;</th>
                <td>ONLY</td>
            </tr>
            <tr>
                <th scope="row">!</th>
                <td>NOT</td>
            </tr>
            <tr>
                <th scope="row">FALSE</th>
                <td>FALSE</td>
            </tr>
            </tbody>
        </table>

        <center>
            <a id="validityCheck" type="button" href="/validity"  class="btn btn-success" value="Check">
                Check Proof Validity</a>
        </center>

        <p></p>

        <p class="lead" align="center">Upload Proof</p>

        <input type="file" id="files" name="file"/>

        <p></p>
        <center>
            <span class="readBytesButtons">
                <button id="bfile" type="button" class="btn btn-primary" value="Upload"
                        data-toggle="tooltip" data-placement="bottom" title="Upload your chosen file">Upload</button>
            </span>
        </center>
        <script>

            function readBlob(opt_startByte, opt_stopByte) {

                var files = document.getElementById('files').files;
                if (!files.length) {
                    alert('Please select a file!');
                    return;
                }

                var file = files[0];
                var start = parseInt(opt_startByte) || 0;
                var stop = parseInt(opt_stopByte) || file.size - 1;

                var reader = new FileReader();

                // If we use onloadend, we need to check the readyState.
                reader.onload = function(evt) {
                    if (evt.target.readyState == FileReader.DONE) { // DONE == 2

                        var mytextbox1 = document.getElementById('Text1');
                        var mytextbox2 = document.getElementById('Text2');


                        var temp = evt.target.result;
                        var lines = temp.toString().split(/[\r\n]+/g);

                        var i = 0;
                        while (i != lines.length) {
                            var components = lines[i].split(' , ');
                            mytextbox1.value = mytextbox1.value + components[0] + '\n';
                            mytextbox2.value = mytextbox2.value + components[1] + '\n';
                            i++;
                        }
                    }
                };
                var blob = file.slice(start, stop + 1);
                reader.readAsBinaryString(blob);
            }


            document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
                if (evt.target.tagName.toLowerCase() == 'button') {
                    var startByte = evt.target.getAttribute('data-startbyte');
                    var endByte = evt.target.getAttribute('data-endbyte');
                    readBlob(startByte, endByte);
                }

            }, false);
        </script>


        <p></p>


    </div>

    <div class="col-md-8">
        <center>
            <form id="proof" onsubmit="postSubmit()" th:object="${proof}" method="post">

                <div class="inline-div">
                    <p class="lead" align="center" data-original-title="Type your proof here">Proof
                        <script>
                        $(".lead").tooltip({
                            placement: "top"
                        });
                        </script>
                    </p>

                    <textarea class="lined"  id="Text1" th:field="*{proofString}" cols="14" rows="8" onkeyup="if(this.textLength != 0)
			{submit.disabled = false} else {submit.disabled = true}" th:inline="text"></textarea>

                    <script>
                        window.onload = getVariables;

                        function getVariables() {
                            var proof = document.getElementById('Text1');
                            var rules = document.getElementById('Text2');
                            var res = document.getElementById('resultBox');


                                if (localStorage.getItem('items') != []) {
                                    var vals = JSON.parse(localStorage.getItem('items'));

                                    res.value = res.value + vals.pop();
                                    proof.value = proof.value + vals.pop();

                                    var proofArray = proof.value.split('\n');
                                    /*<![CDATA[*/
                                    for (var i = 0; i < proofArray.length; i++) {
                                        rules.value = rules.value + 'GIVEN';
                                        if (i < proofArray.length-1) {
                                            rules.value = rules.value + '\n';
                                        }
                                    }
                                    /*]]>*/
                                }

//                                localStorage.clear();
                        }



                        function call_function() {
                            var proof = document.getElementById('Text1');
                            var rules = document.getElementById('Text2');

                            var proofArray = proof.value.split("\n");
                            var rulesArray = rules.value.split("\n");

                            proof.value = "";



                            var indentArray = new Array();

                            /*<![CDATA[*/
                            for (var i = 0; i < proofArray.length; i++) {
                                if (i > 0) {
                                    proof.value = proof.value + '\n';

                                }

                                if (rulesArray[i] === "ASSUMPTION") {
                                    indentArray.push(1)
                                }

                                if (rulesArray[i].indexOf("Implies-Intro") >= 0
                                    || rulesArray[i].indexOf("Or-Elim") >= 0) {
                                    indentArray.pop();
                                }


                                if (indentArray.length > 0) {
                                    var added = false;
                                    for (var j = 0; j < indentArray.length; j++) {
                                        if (proofArray[i].charAt(j) == '-') {
                                            continue;
                                        }
                                        if (proofArray[i].charAt(j) != ' ') {
                                            proof.value = proof.value + '----';
                                            added = true;
                                        }
                                    }
                                    if (added) {
                                        proof.value = proof.value + '  ' + proofArray[i];
                                    } else {
                                        proof.value = proof.value + proofArray[i];
                                    }
                                    if (rulesArray[i].indexOf("Not-Elim") >= 0) {
                                        indentArray.pop();
                                    }
                                } else {
                                    proof.value = proof.value + proofArray[i];
                                }

                            }



                            /*]]>*/
                        }
                    </script>
                </div>
                <div class="inline-div">
                    <p class="lead" align="center" data-original-title="Type your rules here">Rule</p>
                    <script>
                        $(".lead").tooltip({
                            placement: "top"
                        });
                    </script>
                    <textarea  id="Text2" th:field="*{proofLabels}" cols="14" rows="8" spellcheck="false" >
			</textarea>
                    <style>
                        textarea {
                            height: 358px;
                            width: 300px;
                            font-size: 14pt;
                        }
                    </style>

                </div>

               <p></p>

            <div id="options" class="col-md-10">
            <style>
                #options {
                    /*position: absolute;*/
                    left: 50%;
                    margin-left: -305px;
                }
            </style>

                <center>
                <div class="input-group br">

        <span class="input-group-btn">

            <input id="submit" class="btn btn-primary" type="submit" value="Submit" />
            <button id="hintButton" onclick="changeColour()" class="btn btn-primary" type="button"
                    data-toggle="tooltip" data-placement="top" title="Turn hints on/off">Hint</button>
            <script>

                var colour = [];
                function changeColour() {
                    if (hint.getAttribute('class') == 'btn btn-primary') {
                        hint.setAttribute('class', 'btn btn-success');
                        colour.push('btn btn-success');
                        localStorage.setItem('colour', JSON.stringify(colour));
                    } else {
                        hint.setAttribute('class', 'btn btn-primary');
                        colour.push('btn btn-primary');
                        localStorage.setItem('colour', JSON.stringify(colour));
                    }
                }
            </script>





        </span>
                    <!--<input id="resultBox" type="text" class="form-control" th:field="*{resultString}" placeholder="Add result Expression..."></input>-->
                    <span class="input-group-btn">
            <div class="btn-group">

                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="Type your rules here">
    <span class="caret"></span>

    <span class="sr-only">Toggle Dropdown</span>
                    <script>
                        $(".btn btn-primary dropdown-toggle").tooltip({
                            placement: "top"
                        });
                    </script>
  </button>
                <ul class="dropdown-menu">
                    <li><a id="resetButton"  href="/" type="reset">Reset </a></li>
                    <li class="divider"></li>
                    <li><a id="save" href="#">Save Proof As</a></li>
                </ul>
            </div>

        </span>

                </div>
                    <a download="proof.la" id="downloadlink" style="display: none">Download</a>
                <script>
                    var textFile = null,
                        makeTextFile = function (text) {
                            var data = new Blob([text], {type: 'text/plain'});

                            // If we are replacing a previously generated file we need to
                            // manually revoke the object URL to avoid memory leaks.
                            if (textFile !== null) {
                                window.URL.revokeObjectURL(textFile);
                            }

                            textFile = window.URL.createObjectURL(data);

                            return textFile;
                        };
                    
                    var saveButton = document.getElementById('save');
                    saveButton.onclick = function() {
                        var proof = document.getElementById('Text1');
                        var rules = document.getElementById('Text2');

                        var proofArray = proof.value.split("\n");
                        var rulesArray = rules.value.split("\n");
                        var output = "";
                        /*<![CDATA[*/
                        for (var i = 0; i < proofArray.length; i++) {
                            output = output + proofArray[i] + ' , ' + rulesArray[i];
                            if (i < proofArray.length-1) {
                                output = output + '\n';
                            }

                        }
//                        alert(output);
                        var link = document.getElementById('downloadlink');
                        link.href = makeTextFile(output);
                        link.click();
                        /*]]>*/
                    }


                </script>

        </center>

                <p></p>
                <div id="error" class="panel panel-default">
                    <div class="panel-body">
                        <script>
                            var hint = document.getElementById('hintButton');

                            window.onload = hideHelper;


                            function hideHelper() {

                                var list = JSON.parse(localStorage.getItem('colour'));

                                if (list.pop() == 'btn btn-success') {
                                    hint.setAttribute('class', 'btn btn-success');
                                    $("#hintBox").show();
                                    $("#errorBox").hide();
                                } else {
                                    hint.setAttribute('class', 'btn btn-primary');
                                    $("#hintBox").hide();
                                    $("#errorBox").show();
                                }
//
                            }



                            function postSubmit() {
//                                e.preventDefault();
//                                this.submit();

                                setTimeout(hideHelper()
                                    , 100);
                            }

//                            window.onload = postSubmit();

                        </script>

                        <output id="errorBox"  name="result" th:name="result" th:utext="${proof.frontEndFunctionality(proof.proofString, proof.proofLabels)}"></output>
                        <output id="hintBox"  th:name="hintResult" th:utext="${proof.generateHint()}"></output>

                        <style>
                            output {
                                font-size: 16px;
                            }
                        </style>

                    </div>


                </div>
                </div>

            </form>


        </center>
    </div>

    <div class="col-md-2">
        <p class="lead" align="center" data-toggle="tooltip" data-placement="top" title="Choose a rule">Rule Selection</p>
        <center>
                <span id='buttonGroup' align="center" class="btn-group-vertical" >
                    <button id="b1" type="button" class="btn btn-primary" value="GIVEN">GIVEN</button>
                    <button id="b2" type="button" class="btn btn-primary" value="ASSUMPTION">ASSUMPTION</button>
                    <button id="b3" type="button" class="btn btn-primary" value="And-Intro (?)">&and; Introduction</button>
                    <button id="b4" type="button" class="btn btn-primary" value="And-Elim (?)">&and; Elimination</button>
                    <button id="b5" type="button" class="btn btn-primary" value="Or-Intro (?)">&or; Introduction</button>
                    <button id="b6" type="button" class="btn btn-primary" value="Or-Elim (?)">&or; Elimination</button>
                    <button id="b7" type="button" class="btn btn-primary" value="Implies-Intro (?)">&rarr; Introduction</button>
                    <button id="b8" type="button" class="btn btn-primary" value="Implies-Elim (?)">&rarr; Elimination</button>
                    <button id="b9" type="button" class="btn btn-primary" value="Only-Intro (?)">&harr; Introduction</button>
                    <button id="b10" type="button" class="btn btn-primary" value="Only-Elim (?)">&harr; Elimination</button>
                    <button id="b11" type="button" class="btn btn-primary" value="Not-Intro (?)">&not; Introduction</button>
                    <button id="b12" type="button" class="btn btn-primary" value="Not-Elim (?)">&not; Eliminiation</button>
                    <button id="b13" type="button" class="btn btn-primary" value="DoubleNot-Elim (?)">&not;&not; Elimination</button>
                    <button id="b15" type="button" class="btn btn-primary" value="(?)">&#10004;</button>
                    <button id="b14" type="button" class="btn btn-warning" value="Indent">Refresh Indent</button>

                </span>
        </center>
        <script type="text/javascript">
            var mytextbox2 = document.getElementById('Text2');
            var mybutton1 = document.getElementById('b1');
            var mybutton2 = document.getElementById('b2');
            var mybutton3 = document.getElementById('b3');
            var mybutton4 = document.getElementById('b4');
            var mybutton5 = document.getElementById('b5');
            var mybutton6 = document.getElementById('b6');
            var mybutton7 = document.getElementById('b7');
            var mybutton8 = document.getElementById('b8');
            var mybutton9 = document.getElementById('b9');
            var mybutton10 = document.getElementById('b10');
            var mybutton11 = document.getElementById('b11');
            var mybutton12 = document.getElementById('b12');
            var mybutton13 = document.getElementById('b13');
            var mybutton15 = document.getElementById('b15');

            mybutton1.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton2.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton3.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton4.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton5.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton6.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton7.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton8.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton9.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton10.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton11.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton12.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }
            mybutton13.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';
                
            }

            var mybutton14 = document.getElementById('b14');
            mybutton14.onclick = function() {
                $("#Text2").click();
            };

            mybutton15.onclick = function(){
                mytextbox2.value = mytextbox2.value  + this.value + '\n';

            }


        </script>


    </div>

</div>

</body>

</html>
